.app {
  display: flex;
  flex-direction: column;
}



.count-down-timer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 120px;
} 

.count-down-timer p {
  font-family: "MuseoModerno", sans-serif;
  font-optical-sizing: auto;
  font-weight: 550;
  font-style: normal;
  margin: 0;
}

.count-down-timer button {
  font: inherit;
  font-size: x-large;
  font-weight: 400;
  width: 10rem;
  border-radius: 8px;
  background: white;
  color: var(--COLOR-RED-DARK);
  padding: 2dvh;
}

.assort {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  border-radius: 8px;
  background-color: var(--COLOR-RED-DARK);
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 2rem;
}

.header button {
  font-size: large;
  font-family: inherit;
  width: fit-content;
  border: dashed white 2px;
  border-radius: 8px;
  background: var(--COLOR-RED-DARK);
  padding: 2dvh;
  border: 0;
}

.header button:hover {
  background: var(--COLOR-WHITE);
  color: var(--COLOR-RED-DARK);
}

.highlight-timer {
  border: 2px;
  border: dashed white 2px;
}



/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */


/* .card {
  padding: 2em;
}

.assort-header-btn {
  margin-inline: 4px;
}

.pomo-logo {
  margin: 10px;
}
*/
